////////////////////////////////////////////////////////////

/* lawApplications */

///////////////////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a,
a:hover,
a:focus,
button:focus,
select:focus,
.btn,
.btn:hover,
.form-control,
.form-control:focus {
	text-decoration: none;
	outline: none !important;
	@include transition-all(0.3s);
}


.btn:focus, a:focus, 
button, .btn:active:focus,  btn:focus, input[type="checkbox"]:focus, input[type="checkbox"]:active:focus,
select:focus, select:active:focus{
	outline:none; 
}



body{
    background:$body-bg;
    font-family:$basic-font;
    color:$text-color;
}
h2{
    font-size:24px;
    color:$darken-primary-color;
    font-weight:700;
    margin-bottom:25px;
    margin-top:30px;
}
p{
    font-size: 16px;
    line-height:28px;
    strong{
        font-weight:600;
    }
}

//buttons
.btn-startfilling{
    font-weight:700;
    font-size:16px;
    padding:13px 24px;
    display: inline-block;
    background:$primary-color;
    color:#fff;
    text-transform: uppercase;
    &:hover{
        background:saturate( $primary-color, 30% );
        color:#fff;
    }
    img{
       float:left;
       margin:2px 15px 0 0;
    }
}
.space-margin1{
    margin:20px 0 60px;
}
/*start header*/
header.navbar.navbar-default{
    background:#fff; 
    border-bottom:1px solid #e6e9ea;
    position: fixed;
    left:0;
    right: 0;
    padding:0 15px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background:$gray-bluesh;
    color:#8c959d;
}
.navbar-default .navbar-nav > li > a{
    color:#92989e;
}
.logo{
    margin:13px 0 0 0;  
    float:left;
	img{
		width: 80%;
	}
}
.nav-profile{
    float:right;
    margin:6px 0 0 0;
    span{
        cursor:pointer;
    }
}

.content-area{
    padding:20px 15px;

}
.content-area.no-padd{
    padding-left:0;
    padding-right:0;
}
.table-wrap{
    width:100%;
     @include border-radius(3px 3px 0 0);  
    overflow: hidden;
    table{
        width:100%;
    }
    tbody{
        border:1px solid #ecf0f1;
        border-width:0 2px;
    }
    th, td{
        padding:12px 15px;
        color:$text-color;
        //font-size:15px;
    }
    
    td{
        border-bottom:1px solid #ecf0f1;
    }
    thead tr th{
        color:#fff;
        text-transform: uppercase;
        font-weight: 700;
    }
    thead tr:first-child{
        background:$primary-color;
        font-size:16px; 
        th{
            padding:16px 15px;
        }
    }
    thead tr:nth-child(2){
        background:$bg-table-head;
        th{
             padding:12px 15px;
        }
    }
	.sort{
		width: 20px;
		height: 20px;
		background: url('../images/icon/icon-sort.png') no-repeat 0 0;
		display: block;
		float:right;
	}
	.settings{
		width: 20px;
		height: 20px;
		background: url('../images/icon/icon-settings.png') no-repeat 0 0;
		display: block;
		float:right;
		margin-left: 15px;
	}
}


.project-title{
    background-color: lighten($dark-gray,4);
    color: $dark-blue;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 60px;
    border-bottom: 1px solid #e6e9ea;
    //box-shadow: 0 0 1px rgba(34, 25, 25, 0.4);

    b{
        font-size: 1.3em;
    }
}

.leftpanel{
    // background:$bg-leftpanel;
    // height:calc(100vh - 60px);
    margin-top: 60px;
    border-radius: 5px; 
    max-width: 150px;

    //margin-left: -150px;

}

.right-content-box{
    border:1px solid #ebecee;
    @include border-radius(3px);
    background:#ffffff;
    margin:15px 0;
    overflow: auto;
}
.right-panel{
	.right-content-box{
		display: none;
		&.active{
			display: block;
		}
	}
}
.nav.nav-tabs{
    background:$primary-color;
    border-bottom:1px solid #ebecee;
    li{
        margin:0;
    }
    li a{
        color:#fff;
        @include border-radius(0px);
        border:none;
        margin: 0;
        padding:8px 14px;
        &:hover{
            border:none;
        }
    }
    li.active a{
        color:$primary-color;
        border:none;
    }
}
.select-items{
    margin-bottom:40px;
    span{
        display: block;
        color:#2a2a2c;
        font-size:16px;
        font-weight:600;
        margin-bottom:5px;
    }
    .checkbox-inline{
        margin:0 20px 10px 0;
        font-size:14px;
    }
}
label{
    font-family:$basic-font;
    font-weight:600;
}

.form-group{
    label{
        color:#2a2a2c;
        font-size:16px;
    }
    .form-control{
        border:1px solid #cccccc;
		resize: none;
        @include box-shadow(none);
    }
}
 
.tab-content{
    padding:20px 0;
    clear: both;
    overflow: auto;
}
.btn-submit{
    background:$primary-color;
    font-size: 14px;
    font-weight:700;
    padding:11px 15px;
    color:#fff;
    &:hover{
        background: $dark-blue;
        color:#fff;
    }
}

.prev-next{
    float:right;
    font-size:0;
    @include border-radius(3px);
    overflow: hidden;
    a{
        background:$primary-color;
        display:inline-block;
        width:40px;
        height:44px;
        background-position: center;
        background-repeat:no-repeat;
        &:hover{
            background-color:saturate( $primary-color, 30% );
        }
		&.disabled{
			opacity: 0.3;
			cursor:default;
		}
    }
    .prev{
        background-image:url(../images/icon/icon-prev.png);
        border-right:1px solid #5bafe8;
    }
    .next{
        background-image:url(../images/icon/icon-next.png);
    }
}


.left-menu-item{
    border-radius: 5px 0 0 5px;

}

.leftMenu{
	margin: 0;
	padding: 0;
	overflow: hidden;
    border-radius: 5px 0 0 5px;

	li{
		//border-bottom: solid 1px rgba($primary-color, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
        margin-bottom: 5px;
        
		a{
			padding: 10px 14px 9px;
            border-radius: 5px 0 0 5px !important;
			display: block;
			//opacity: 0.5;
			color: #ffffff;
            background-color: $primary-color;
			line-height: 25px;
			white-space: nowrap;
			text-align: center;
			span{
				display: none;
			}
			i{
				width: 27px;
				height: 24px;
				display: block;
				margin: auto;
				position: relative;
				float: none;
				&.icon-home{
					background:url(../images/icon/home-icon.png) no-repeat;
				}
				&.icon-compass{
					background:url(../images/icon/compass-icon.png) no-repeat;
				}
				&.icon-round{
					background:url(../images/icon/round-icon.png) no-repeat;
				}
				&.icon-at{
					background:url(../images/icon/at-icon.png) no-repeat;
				}
				&.icon-info{
					background:url(../images/icon/info-icon.png) no-repeat;
				}
				&.icon-notification{
					background:url(../images/icon/notification-icon.png) no-repeat;
				}
				&.icon-chat{
					background:url(../images/icon/icon-chat.png) no-repeat;
				}
			}
			&:hover, &.active{
				opacity: 1;
				background: darken($primary-color, 20);
			}
		}
		&.active a{
			opacity: 1;
			background: darken($primary-color, 20);
		}
	}
}

tr.file-link{
    
    :hover{
        cursor:pointer;
        
    }

}

.copyRight{
	display: none;
    color: #fff;
}

.last-saved{
    color: lighten($darken-primary-color,50);
    font-size: 9px;
    font-weight: thin;
    //font-style: italic;
    padding: 5px 0 5px 5px;
}

.item-done{
    background-color: lighten($darken-primary-color, 4);

}

.footer{
    background-color: $darken-primary-color;
    padding: 40px;
    //position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    //font-size: 0.7em !important;
    color: #ffffff;

    .social{
        font-size: 1.4em;
        padding-bottom: 2px;
    }

    a{
        color: #ffffff;
        padding-top: 2px;
        font-size: 0.7em
    }

    a:hover{
        text-decoration: underline;
    }

    p{
        font-size: 0.7em;
        color: #ffffff;
        margin: 0px;
    }
}
