@media (min-width: $screen-md-min) {
.nav.nav-tabs{
    li{
        a{
            font-size:16px;
            padding:10px 35px;
        }
    }
}

.select-items .checkbox-inline{
    margin:0 0 10px;
    width:20%;
    float:left;
}    
//end
}

