/*color variable
==============*/

$light-gray : #f9fafc;

$dark-gray: #ecf0f1;
$gray-bluesh: #f5f9fc;

$dark-blue: #1a4868;

$body-bg : $light-gray;
$text-color: #666666;
$primary-color: #2f81b9;
$secondary-color: #18bc9c;
$darken-primary-color: #172f41;
$lighter-darken-primary-color: gba(23, 47, 65, 0.8);
$bg-leftpanel   :$darken-primary-color;
$bg-table-head   :#6e99b7;
$dark-background: $bg-leftpanel;

//font - opensans
$basic-font: 'Open Sans', sans-serif;

//additional Mixins
@mixin background-size($type) {
  background-size: ($type);
  -moz-background-size: ($type);
  -webkit-background-size: ($type); 
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin transition-all($time){
    -webkit-transition: all $time ease-in-out;
    -moz-transition: all $time ease-in-out;
    -o-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
